main {
    background-image: url(../Imagenes/fondoproductos.jpg);
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 700px;
}

.main-title {
    display: flex;
    text-align: center;
    margin: 30px;
    font-family: Oswald;
    text-shadow: 1px 0 0 #fff, 1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    font-size: 55px;
}

.main-container-carrito img {
    max-width: 100px;
    max-height: 100px;
}

.main-container-delete {
    display: flex;
    width: 50px;
    height: 50px;
}

.main-container-delete img:hover {
    background-color: #404143;
}

.main-container-carrito ul li {
    text-decoration: none;
    color: #fff;
}

.main-container-productos {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    margin: 20px;
    height: 330px;
    font-family: Oswald;
}

.main-container-productos p {
    margin: 5px;
    font-family: Oswald;
    font-size: 30px;
}

.main-container-productos img {
    width: 250px;
    height: 250px;
    border: 1px solid black;
}

.main-container-productos-mas {
    display: flex;
    text-align: justify;
}

.main-container-productos-mas img {
    margin: 5px;
    display: flex;
    border: none;
    width: 40px;
    height: 50px;
}

.main-container-productos-mas img:hover {
    background-color: #404143;
}