main {
    background-image: url(../Imagenes/fondoproductos.jpg);
    margin-bottom: 10px;
    margin-top: 10px;
    min-height: 850px;
}

#mapa {
    display: none;
}

.container-title {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 5px;
}

#title {
    font-family: Oswald;
    font-size: 60px;
    margin: 10px;
    text-shadow: 1px 0 0 #fff, 1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

}