main {
    background-image: url(../Imagenes/fondoproductos.jpg);
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 850px;
}

ul {
    list-style-type: none;
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-header {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.main-header h1 {
    align-self: center;
}


/* CARRITO */

#carrito-image {
    display: flex;
    align-self: center;
}


#carrito-image {

    background-color: #fff;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    padding: 5px;
    font-family: Oswald;
}

#contador-carrito {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 10px;
    padding: 3px;
    border: 1px solid black;
    font-weight: bold;
    height: 15%;

}

#carrito-image img {
    max-width: 60px;
    max-height: 60px;
}

#carrito-image:hover {
    background-color: #404143;
    cursor: pointer;
}

.main-container-carrito {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-family: Oswald;
}

#cantidad-productos {
    margin: 5px;
    margin-left: 10px;
    font-family: Oswald;
}

.carrito-li-p {
    width: 300px;
    display: none
}

.boton-eliminar {
    display: flex;
    align-items: center;
    margin-left: 5px;
    padding: 2px;
    justify-content: center;
    background-color: #ee3535;
    border-radius: 10%;
}

.boton-eliminar:hover {
    cursor: pointer;
    background-color: #8B0000;
}

#carrito-title {
    text-align: center;
    font-family: Oswald;
}

.main-title {
    display: flex;
    text-align: center;
    margin-top: 10px;
    font-family: Oswald;
    text-shadow: 1px 0 0 #fff, 1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    font-size: 55px;
}

.main-container-carrito img {
    max-width: 100%;
    max-height: 100px;
}

.contenerdor-productos-carrito {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin: 2px;
}

.cantidad-productos {
    padding: 5px;
}

.delete-producto {
    display: flex;
    background-color: red;
    padding: 2px 3px 2px 3px;

}

.main-container-delete {
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.carrito-preciofinal {
    text-align: center;

}

.main-container-delete img:hover {
    background-color: #404143;
    cursor: pointer;
}

.main-container-carrito ul li {
    text-decoration: none;
    padding: 5px;
    margin: 0px, 5px, 0px, 5px;
    color: black;
    font-family: Oswald;
    font-size: 15px;
}

#finalizarpadre {
    display: none;
}

#finalizar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: Oswald;
}

#finalizar p {
    padding: 5px;
    margin: 5px;
    background-color: green;
    border: black solid 1px;
}

#finalizar p:hover {
    cursor: pointer;
    background-color: #1F6B0A;
}

#tacho {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Oswald;
}

#tacho p:hover {
    cursor: pointer;
    background-color: #413F3F;
}

#tacho p {
    padding: 5px;
    margin: 5px;
    background-color: grey;
    border: black solid 1px;
}

#ocultar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Oswald;
}

#ocultar p {
    padding: 5px;
    margin: 5px;
    background-color: red;
    border: black solid 1px;
}

#ocultar p:hover {
    cursor: pointer;
    background-color: #901717;
}

#finalizar-text {
    padding: 2px;
    font-family: Oswald;
}


.main-container-productos {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 15px;
    margin: 20px;
    font-family: Oswald;
    background-color: white;
}

.main-container-productos p {
    font-family: Oswald;
    font-size: 30px;
}

.main-container-productos img {
    width: 250px;
    height: 250px;
    border: 1px solid black;
}

.agregarproducto-button {
    display: flex;
    justify-content: center;
    font-size: 10px;
    padding: 3px;
    background-color: grey;
    border-radius: 6px;
}

.agregarproducto-button p {
    font-size: 25px;
}


.agregarproducto-button:hover {
    background-color: #404143;
    cursor: pointer;
}

/* MODAL */

.hide-modal {
    display: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 1;
}

.modal-contenedor {
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    font-family: Oswald;
}

#modal-title {
    font-family: Oswald;
    font-size: 30px;
}

.modal-productos {
    font-family: Oswald;
}

#modal-input {
    background-color: grey;
    border: 1px solid black;
    height: 30px;
    width: 300px;
    padding: 5px;
}

#modal-preciofinal {
    align-self: center;
    margin-top: 5px;
    font-size: 20px;
}

#modal-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: Oswald;
    border-radius: 6px;
    border: none;
    background: #6E6D70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#modal-button:hover {
    cursor: pointer;
    background-color: #4c4949;
}

.agregarproducto-button:hover {
    background-color: #404143;
    cursor: pointer;
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}