body {
    margin: 0px;
}

main {
    background-image: url(../Imagenes/fondoproductos.jpg);
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 750px;
}

.container-imagen {
    display: flex;
    text-align: center;
    justify-content: center;
}

.container-imagen img {
    height: 600px;
    width: 400px;
}

.container-title {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 5px;
}

#title {
    font-family: Oswald;
    font-size: 50px;
    margin: 10px;
    text-shadow: 1px 0 0 #fff, 1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

}